<!DOCTYPE html>
<html>
  <head>
    <title>CuteRates</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui content main">
      <div class="ui secondary menu">
        <%= link_to("People", people_path, class: "item") %>
        <%= link_to("Pets", pets_path, class: "item") %>
        <div class="right menu">
          <% if current_user %>
            <div class="item">Welcome back, <%= current_user.name %></div>
            <%= link_to("Logout", login_path, method: :delete, class: "item") %>
          <% else %>
            <%= link_to("Login", login_path, class: "item") %>
          <% end %>
        </div>
      </div>
      <% if flash[:notice] %>
        <div class="ui info message">
          <div class="header">
            Notice
          </div>
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
