<h1>Name: <%= @student.name %></h1>
<h2>Cohort: <%= link_to(@student.cohort.name, cohort_path(@student.cohort)) %></h2>

<br/>

<%= link_to("Edit Student", edit_student_path(@student)) %> | 
<%= link_to("Delete Student", student_path(@student), method: :delete) %>
<%= link_to("All students", students_path) %>
